<div class="grandfather-div">
    <navbarsidebar class="relative-div"/>

    <!--<div class="absolute-div">inner main content</div>-->

    <div class="top-1-div">
        <h3 class="top-1-div-h3">Verify Ticket Number</h3>
        <p class="top-1-div-p">You can verify ticket numbers on
          this web portal. Kindly <br> <div class="centered">enter the ticket number below to verify</div> 
        </p>

        <input class="input-class">

        <botton class="verify">Verify</botton>
      </div>

  </div>