
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 HTML FORM FOR ADDING NEW DRIVER
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<div class="grandfather-div">
    <navbarsidebar class="relative-div"/>

<div class="bottom">

    <div class="bottom-1-div">
        Settings 
        <span class="pup">(Osinachi Motors)</span>
    </div>

    <div class="main-set-div">

        <div class="left-div">

            <input placeholder="Osinachi motors" type="text" class="title-name red">
            <input placeholder="info@osinachi.com" type="text" class="title-email">
            <input placeholder="+234" type="text" class="title-phone">
            <input Placeholder="Address 1" type="text" class="title-address">

        </div>

        <div class="right-div">

            <div class="right-div-top-for-settings">
                 <input placeholder="City" type="text" class="title-city mg-top-div">
                 <input placeholder="State" type="text" class="title-state">
            </div>

            <div class="right-div-bottom1">
                <button class="update-profile">Update Profile</button>
                <button class="change-password">Change Password</button>
           </div>

           <div class="right-div-bottom2">
              <h3 class="config"> Configure Routes & Prizes</h3>
            </div>
           
        </div>
        
    </div>

</div>

<div class="driver-form-lists">this is the driver form listing...</div>

</div>

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%
HTML FOR THE FORM LISTING
%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<!-- <div class="grandfather-div-listg">
    <navbarsidebar class="relative-div"/>
    
    <div class="bottom">
    
        <div class="bottom-1-div">Payment History</div>
    
        <div class="bottom-2-div">
          <h2 class="hash">#</h2>
          <h2 class="name">Name</h2>
          <h2 class="Trip">Ride</h2>
          <h2 class="Date">Date</h2>
          <h2 class="Amount">Amount</h2>
        </div>
    
        <div class="bottom-3-div">
          <img src="../../assets/Vector_1.png" alt="check" class="check">
          <h2 class="Name-p">John Snow</h2>
          <h2 class="Trip-p">From Lagos to Uyo</h2>
          <h2 class="Date-p">(7 Aug 2020)</h2>
          <h2 class="Naira-p naira-red">N120</h2>
        </div>
    
        <div class="bottom-3-div">
          <img src="../../assets/Vector_1.png" alt="check" class="check">
          <h2 class="Name-p">John Snow</h2>
          <h2 class="Trip-p">From Lagos to Uyo</h2>
          <h2 class="Date-p">(7 Aug 2020)</h2>
          <h2 class="Naira-p naira-red">N120</h2>
        </div>
    
        <div class="bottom-3-div">
            <img src="../../assets/Vector_1.png" alt="check" class="check">
            <h2 class="Name-p">John Snow</h2>
            <h2 class="Trip-p">From Lagos to Uyo</h2>
            <h2 class="Date-p">(7 Aug 2020)</h2>
            <h2 class="Naira-p naira-red">N120</h2>
          </div>
    
          <div class="bottom-3-div">
            <img src="../../assets/Vector_1.png" alt="check" class="check">
            <h2 class="Name-p">John Snow</h2>
            <h2 class="Trip-p">From Lagos to Uyo</h2>
            <h2 class="Date-p">(7 Aug 2020)</h2>
            <h2 class="Naira-p naira-red">N120</h2>
          </div>
    
          <div class="bottom-3-div">
            <img src="../../assets/Vector_1.png" alt="check" class="check">
            <h2 class="Name-p">John Snow</h2>
            <h2 class="Trip-p">From Lagos to Uyo</h2>
            <h2 class="Date-p">(7 Aug 2020)</h2>
            <h2 class="Naira-p naira-red">N120</h2>
          </div>
    
          <div class="bottom-3-div">
            <img src="../../assets/Vector_1.png" alt="check" class="check">
            <h2 class="Name-p">John Snow</h2>
            <h2 class="Trip-p">From Lagos to Uyo</h2>
            <h2 class="Date-p">(7 Aug 2020)</h2>
            <h2 class="Naira-p naira-red">N120</h2>
          </div>
    
      </div>
    
    </div> -->