
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 HTML FORM FOR ADDING NEW DRIVER
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<div class="grandfather-div">
    <driversadd class="relative-div"/>

<div class="bottom">

    <div class="bottom-1-div">
        Add Driver 
        <!--<span class="pup">(Osinachi Motors)</span>-->
    </div>

    <div class="main-set-div">

        <div class="left-div">

            <input placeholder="Osinachi motors" type="text" class="title-name red">
            <input placeholder="info@osinachi.com" type="text" class="title-email">
            <input placeholder="+234" type="text" class="title-phone">
            <input Placeholder="Address I" type="text" class="title-address">
            <input Placeholder="Address II" type="text" class="title-address">

        </div>

        <div class="right-div">

            <div class="right-div-top-for-settings">
                 <input placeholder="City" type="text" class="title-city mg-top-div">
                 <input placeholder="State" type="text" class="title-state">
            </div>
              <textarea placeholder="Medical History" class="medical-history title-state"></textarea>
            <!--<div class="right-div-bottom1">
                <button class="update-profile">Update Profile</button>
                <button class="change-password">Change Password</button>
           </div>-->
            

           <div class="right-div-bottom2">
              <h3 class="config"> Add Profile</h3>
            </div>
           
        </div>
        
    </div>

</div>

</div>
