/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
CSS FOR THE FORM FOR ADDING DRIVER
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.grandfather-div .relative-div {
    position: relative;
}

.grandfather-div .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 400px;

    position: absolute;
    top: 150px;
    right: 200px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
    border-radius: 20px;
}

.grandfather-div .bottom-1-div {
    width: 80%;
    margin-right: 7.5rem;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 0.00676943px;
    color: #000000;
}

.grandfather-div .pup {
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.0257883px;
    color: #5B5B5B;
}

.grandfather-div .main-set-div {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 85%;
}

.grandfather-div .left-div {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    height: 60%;
}

.grandfather-div .title-email,
.grandfather-div .title-phone,
.grandfather-div .title-address {
    width: 90%;
    padding: 7px 7px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.grandfather-div .red {
    width: 90%;
    padding: 7px 7px;

    background: #FFFFFF;
    border: 1px solid #D60026;
    box-sizing: border-box;
}

.grandfather-div .right-div {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 60%;
}

.grandfather-div .right-div-top-for-settings {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 47.8%;
    width: 100%;
}

.grandfather-div .title-city,
.grandfather-div .title-state {
    width: 90%;
    padding: 7px 7px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.grandfather-div .mg-top-div {
    margin-top: 5px;
}

.grandfather-div .right-div-bottom1 {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 18%;
}

.grandfather-div .update-profile {
    width: 45%;
    height: 100%;

    background: #063E9B;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;
}

.grandfather-div .change-password {
    width: 45%;
    height: 100%;

    background: rgba(0, 0, 0, 0.05);

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    
    color: #063E9B;

} 

.grandfather-div .right-div-bottom2 {
    
    width: 50%;
    margin-right: 9.8rem;
    padding-left: 5px;
    padding-top: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    background: rgba(0, 0, 0, 0.05);
}

.grandfather-div .config {
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    
    color: #D60026;
} 

/* %%%%%%%%%%%%
WORKING CSS
%%%%%%%%%%%%% */
.grandfather-div .driver-form-lists {
    border: 1px dashed red;
    width: 60%;
    height: 400px;

    position: absolute;
    top: 700px;
    right: 200px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
    border-radius: 20px;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%
CSS FOR DRIVER LISTING
%%%%%%%%%%%%%%%%%%%%%%%%% */
/* .grandfather-div-listg .relative-div {
    position: relative;
}

.grandfather-div-listg .bottom {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 400px;

    position: absolute;
    top: 150px;
    right: 200px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
    border-radius: 20px;
}

.grandfather-div-listg .bottom-1-div {
    
    width: 80%;

}

.grandfather-div-listg .bottom-2-div {
    
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

.grandfather-div-listg .bottom-3-div {
    
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

    .grandfather-div-listg .hash,
    .grandfather-div-listg .name,
    .grandfather-div-listg .Trip,
    .grandfather-div-listg .Date,
    .grandfather-div-listg .Amount 
      {
        
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        
        color: #000000;
      }

      .grandfather-div-listg .Name-p,
      .grandfather-div-listg .Trip-p,
      .grandfather-div-listg .Date-p,
      .grandfather-div-listg .Naira-p
    {
          
          font-family: Avenir LT Std;
          font-style: normal;
          font-weight: 750;
          font-size: 14px;
         
          color: rgba(32, 32, 32, 0.6);
      }

      .grandfather-div-listg .naira-red {
        color: #D82424;
      } */
  