<div class="father-container">

  <!-- %%%%%%%%%%%%%%%%
    SIDEBAR - SECTION
  %%%%%%%%%%%%%%% -->
  <div class="sidebar-div">

    <div class="image-div">
      <img class="banner" src="../../assets/banner.png" alt="banner-img">
    </div>
    

    <!-- <div class="white-space"></div> -->

    <div class="menu-container">

      <div class="dashboard-h3-div only">
        <img src="../../assets/Vector.png" alt="dashboard">
        <h3 class="dashboard-h3">Dashboard</h3>
      </div>

      <div class="verify-insurance-div">
        <img src="../../assets/Vector_1.png" alt="verify-insurance">
        <h3 class="verify-insurance">Verify-Ticket</h3>
      </div>

      <div class="payment-history-div">
        <img src="../../assets/Vector_2.png" alt="payment-history">
        <h3 class="payment-history">payment-History</h3>
      </div>

      <div class="settings-div">
        <img src="../../assets/Vector_2.png" alt="settings">
        <h3 class="settings">Settings</h3>
      </div>

      <div class="records-div">
        <img src="../../assets/Vector_3.png" alt="records">
        <h3 class="records">Records</h3>
        <img src="../../assets/vector_4.png" alt="records-righticon" class="records-righticon">
      </div>

    </div>

    <div class="trips-payout-container">
      <h3 class="trips">Drivers</h3>
      <h3 class="payouts">Vehicles</h3>
      <h3 class="payouts">Ticket Staff</h3>
    </div>

    <div class="white-space">
      <div class="passprof">
        <b-icon-menu-button-wide></b-icon-menu-button-wide>
        <h3 class="passproof-h3">Passenger Profile</h3>
      </div>

      <div class="setupweb">
        <b-icon-menu-button-wide></b-icon-menu-button-wide>
        <h3 class="setupweb-h3">Setup Website</h3>
      </div>
    </div>

    <div class="logout">
      <h3-logout-div>logout</h3-logout-div>
    </div>

  </div>

  <!-- %%%%%%%%%%%%%%%%%%%
    MAIN - SECTION
  %%%%%%%%%%%%%%%%%% -->
  <div class="main-content-div">

    <div class="navigation-div">

      <!-- <b-icon-arrow-up></b-icon-arrow-up> -->

      <div class="toggle-div">
        <!-- <img src="../../assets/vector_5.png" alt="toggle" class="toggle">
        <img src="../../assets/vector_5.png" alt="toggle" class="toggle"> -->
        <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
        <b-icon-menu-button-wide></b-icon-menu-button-wide>
        <!-- <font-awesome-icon icon="faCat" /> -->

      </div>

      <div class="right-menu-div">
        <div class="bellwrapper">
         <img src="../../assets/img6.png" alt="bell-div" class="bell-div">
         <div class="round-div">4</div>
        </div>

        <div class="bellwrapper">
          <img src="../../assets/img4.png" alt="email-div" class="email-div">
          <div class="round-div">4</div>
         </div>
         
        <!-- <img src="../../assets/img4.png" alt="email-div" class="email-div"> -->
        <img src="../../assets/Vector_8.png" alt="search-div" class="search-div">
        <img src="../../assets/vector_9.png" alt="photo-div" class="photo-div">
        <div class="logout-botton">
          <h3 class="topmost-h">logout</h3>
        </div>
      </div>
      
    </div>
    

    <!-- %%%%%%%%%%%%%%%%
     INNER-MAIN-SECTION
    %%%%%%%%%%%%%%%% -->
    <div class="inner-main-div">

      <div class="plc-div">
        <h3 class="h3-plc">Dashboard</h3>
        <!-- <div class="cover-div"> 
          <div class="fill-div"></div>
       </div> -->
      </div>
      
        <div class="up-div">
          <img src="../../assets/vector_10.png" alt="img-first" class="img-first">
          <img src="../../assets/vector_11.png" alt="img-second" class="img-second">
          <img src="../../assets/vector_12.png" alt="img-third" class="img-third">
        </div>

        <div class="down-div">

          <img src="../../assets/vector_13.png" alt="img-fourth" class="img-fourth">
          <!-- DUPLICATE SEE-MORE IN FOUR PLACES -->
          <div class="see-more">
            <div class="textone">
              <h3 class="text1">Payment History</h3>
            </div>
            
             <!-- DUPLICATE SEE-MORE IN FOUR PLACES -->
            <div class="money-div">
              <img src="../../assets/Vector_1.png" alt="img1" class="img1">
              <div class="smalldiv">
                <h2 class="john">John Snow</h2>
                <p class="Aug">(7 Aug 2020)</p>
              </div>
              <h2 class="seven2">N72</h2>
            </div>

            <div class="money-div">
              <img src="../../assets/Vector_1.png" alt="img1" class="img1">
              <div class="smalldiv">
                <h2 class="john">John Snow</h2>
                <p class="Aug">(7 Aug 2020)</p>
              </div>
              <h2 class="seven2">N72</h2>
            </div>

            <div class="money-div">
              <img src="../../assets/Vector_1.png" alt="img1" class="img1">
              <div class="smalldiv">
                <h2 class="john">John Snow</h2>
                <p class="Aug">(7 Aug 2020)</p>
              </div>
              <h2 class="seven2">N72</h2>
            </div>

            <div class="money-div">
              <img src="../../assets/Vector_1.png" alt="img1" class="img1">
              <div class="smalldiv">
                <h2 class="john">John Snow</h2>
                <p class="Aug">(7 Aug 2020)</p>
              </div>
              <h2 class="seven2">N72</h2>
            </div>
            
            <div class="moresee">
              <h3 class="seemore">see more</h3>
            </div>
          </div>

        </div>

    </div>

  </div>

</div>