<div class="topmost-div">
    
    <div class="img1-div">
        <img class="img1" src="../../assets/img1.png" alt="img1">
    </div>
    
    <div class="container">

      <img src="../../assets/img3.png" alt="img3" class="img3">

      <h1 class="top-h1">Login to Dashboard</h1>

      <div class="toph3-sys">
        <h3 class="top-h3">Login to your transportation management</h3>
      <h3 class="sys">system</h3>
      </div>

      <form>

            <div class="john-div">
              <input placeholder="email" class="input1" type="text">
              <img src="../../assets/img4.png" alt="img4" class="imgicon">
            </div>

            <div class="pass-div">
            <input placeholder="password" class="input2" type="password">
            <img src="../../assets/img5.png" alt="img5" class="imgicon1">
            </div>

            <div class="right-div">
              <h3 class="password">Forgot Password?</h3>
            </div>

            <button><h4 class="button-h4">Login</h4></button>

      </form>

      <div class="bottom-div">

        <div class="icon-div">
          <img src="../../assets/img5-two.png" alt="img5-two" class="img5-two">
          <h3 class="homepage">HomePage</h3>
        </div>

        <h3 class="create">Create New Account</h3>

      </div>
       
      
    </div>

    <!-- <div class="spacer-div">

    </div> -->

</div>
    
    
   