<div class="grandfather-div">
    <navbarsidebar class="relative-div"/>
    
    <div class="bottom">
    
        <div class="bottom-1-div">Passengers</div>
    
        <div class="bottom-2-div">
          <h2 class="hash">#</h2>
          <h2 class="name">Name</h2>
          <h2 class="Trip">Email</h2>
          <h2 class="Date">Registered Date</h2>
          <h2 class="Amount">Amount</h2>
        </div>
    
        <div class="bottom-3-div">
          <img src="../../assets/Vector_1.png" alt="check" class="check">
          <h2 class="Name-p">John Snow</h2>
          <h2 class="Trip-p">jdoe@gmail.com</h2>
          <h2 class="Date-p">(7 Aug 2020)</h2>
          <h2 class="Naira-p">09024576543</h2>
        </div>
    
        <div class="bottom-3-div">
          <img src="../../assets/Vector_1.png" alt="check" class="check">
          <h2 class="Name-p">John Snow</h2>
          <h2 class="Trip-p">jdoe@gmail.com</h2>
          <h2 class="Date-p">(7 Aug 2020)</h2>
          <h2 class="Naira-p">09024576543</h2>
        </div>

         <div class="bottom-3-div">
          <img src="../../assets/Vector_1.png" alt="check" class="check">
          <h2 class="Name-p">John Snow</h2>
          <h2 class="Trip-p">jdoe@gmail.com</h2>
          <h2 class="Date-p">(7 Aug 2020)</h2>
          <h2 class="Naira-p">09024576543</h2>
        </div>
    
        <div class="bottom-3-div">
          <img src="../../assets/Vector_1.png" alt="check" class="check">
          <h2 class="Name-p">John Snow</h2>
          <h2 class="Trip-p">jdoe@gmail.com</h2>
          <h2 class="Date-p">(7 Aug 2020)</h2>
          <h2 class="Naira-p">09024576543</h2>
        </div>
    
        <div class="bottom-3-div">
          <img src="../../assets/Vector_1.png" alt="check" class="check">
          <h2 class="Name-p">John Snow</h2>
          <h2 class="Trip-p">jdoe@gmail.com</h2>
          <h2 class="Date-p">(7 Aug 2020)</h2>
          <h2 class="Naira-p">09024576543</h2>
        </div>
    
        <div class="bottom-3-div">
          <img src="../../assets/Vector_1.png" alt="check" class="check">
          <h2 class="Name-p">John Snow</h2>
          <h2 class="Trip-p">jdoe@gmail.com</h2>
          <h2 class="Date-p">(7 Aug 2020)</h2>
          <h2 class="Naira-p">09024576543</h2>
        </div>
    
      </div>
    
    </div>