<div class="grandfather-div">
    <navbarsidebar class="relative-div"/>
    
    <div class="bottom">
    
        <div class="bottom-1-div">Payment History</div>
    
        <div class="bottom-2-div">
          <h2 class="hash">#</h2>
          <h2 class="name">Name</h2>
          <h2 class="Trip">Ride</h2>
          <h2 class="Date">Date</h2>
          <h2 class="Amount">Amount</h2>
        </div>
    
        <div class="bottom-3-div">
          <img src="../../assets/Vector_1.png" alt="check" class="check">
          <h2 class="Name-p">John Snow</h2>
          <h2 class="Trip-p">From Lagos to Uyo</h2>
          <h2 class="Date-p">(7 Aug 2020)</h2>
          <h2 class="Naira-p naira-red">N120</h2>
        </div>
    
        <div class="bottom-3-div">
          <img src="../../assets/Vector_1.png" alt="check" class="check">
          <h2 class="Name-p">John Snow</h2>
          <h2 class="Trip-p">From Lagos to Uyo</h2>
          <h2 class="Date-p">(7 Aug 2020)</h2>
          <h2 class="Naira-p naira-red">N120</h2>
        </div>
    
        <div class="bottom-3-div">
            <img src="../../assets/Vector_1.png" alt="check" class="check">
            <h2 class="Name-p">John Snow</h2>
            <h2 class="Trip-p">From Lagos to Uyo</h2>
            <h2 class="Date-p">(7 Aug 2020)</h2>
            <h2 class="Naira-p naira-red">N120</h2>
          </div>
    
          <div class="bottom-3-div">
            <img src="../../assets/Vector_1.png" alt="check" class="check">
            <h2 class="Name-p">John Snow</h2>
            <h2 class="Trip-p">From Lagos to Uyo</h2>
            <h2 class="Date-p">(7 Aug 2020)</h2>
            <h2 class="Naira-p naira-red">N120</h2>
          </div>
    
          <div class="bottom-3-div">
            <img src="../../assets/Vector_1.png" alt="check" class="check">
            <h2 class="Name-p">John Snow</h2>
            <h2 class="Trip-p">From Lagos to Uyo</h2>
            <h2 class="Date-p">(7 Aug 2020)</h2>
            <h2 class="Naira-p naira-red">N120</h2>
          </div>
    
          <div class="bottom-3-div">
            <img src="../../assets/Vector_1.png" alt="check" class="check">
            <h2 class="Name-p">John Snow</h2>
            <h2 class="Trip-p">From Lagos to Uyo</h2>
            <h2 class="Date-p">(7 Aug 2020)</h2>
            <h2 class="Naira-p naira-red">N120</h2>
          </div>
    
      </div>
    
    </div>