
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 HTML FORM FOR ADDING NEW VEHICLE
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<div class="grandfather-div">
    <vehiclesadd class="relative-div"/>

<div class="bottom">

    <div class="bottom-1-div">
        Add Vehicles 
        <!--<span class="pup">(Osinachi Motors)</span>-->
    </div>

    <div class="main-set-div">

        <div class="left-div">

            <input placeholder="Name" type="text" class="title-name red">
            <input placeholder="Plate Number" type="text" class="title-email">
                <!--<input placeholder="+234" type="text" class="title-phone">
            <input Placeholder="Address I" type="text" class="title-address">
            <input Placeholder="Address II" type="text" class="title-address">-->
        
        </div>

        <div class="right-div">

            <div class="right-div-top-for-settings">
                 <input placeholder="2010 model" type="text" class="title-city mg-top-div">
                 <input placeholder="Number of Seats" type="text" class="title-state">
            </div>
            <!--<textarea placeholder="Medical History" class="medical-history title-state"></textarea>-->
              
            <!--<div class="right-div-bottom1">
                <button class="update-profile">Update Profile</button>
                <button class="change-password">Change Password</button>
           </div>-->
            

           <div class="right-div-bottom2">
              <h3 class="config"> Add Vehicles</h3>
            </div>
           
        </div>
        
    </div>

</div>

</div>
