<div class="father-container">

  <div class="sidebar-div">

    <div class="image-div">
      <img class="banner" src="../../assets/banner.png" alt="banner-img">
    </div>
    

    <!-- <div class="white-space"></div> -->

    <div class="menu-container">

      <div class="dashboard-h3-div only">
        <img src="../../assets/Vector.png" alt="dashboard">
        <h3 class="dashboard-h3">Dashboard</h3>
      </div>
      <div class="verify-insurance-div">
        <img src="../../assets/Vector_1.png" alt="verify-insurance">
        <h3 class="verify-insurance">verify-insurance ID</h3>
      </div>
      <div class="payment-history-div">
        <img src="../../assets/Vector_2.png" alt="payment-history">
        <h3 class="payment-history">payment-history</h3>
      </div>
      <div class="settings-div">
        <img src="../../assets/Vector_2.png" alt="settings">
        <h3 class="settings">settings</h3>
      </div>
      <div class="records-div">
        <img src="../../assets/Vector_3.png" alt="records">
        <h3 class="records">records</h3>
        <img src="../../assets/vector_4.png" alt="records-righticon" class="records-righticon">
      </div>

    </div>

    <div class="trips-payout-container">
      <h3 class="trips">Trips</h3>
      <h3 class="payouts">Payouts</h3>
    </div>

    <div class="white-space"></div>

    <div class="logout">
      <h3-logout-div>logout</h3-logout-div>
    </div>

  </div>



  <div class="main-content-div">

    <div class="navigation-div">

      <div class="toggle-div">
        <img src="../../assets/vector_5.png" alt="toggle" class="toggle">
        <img src="../../assets/vector_5.png" alt="toggle" class="toggle">
        <!-- <img src="../../assets/vector_5.png" alt="toggle" class="toggle"> -->
      </div>

      <div class="right-menu-div">
        <img src="../../assets/vector_6.png" alt="bell-div" class="bell-div">
        <img src="../../assets/Vector_7.png" alt="email-div" class="email-div">
        <img src="../../assets/Vector_8.png" alt="search-div" class="search-div">
        <img src="../../assets/vector_9.png" alt="photo-div" class="photo-div">
        <div class="logout-botton">
          <h3 class="topmost-h">logout</h3>
        </div>
      </div>
      
    </div>
   <div class="plc-div">
     <h3 class="h3-plc">Universal Insurance PLC</h3>
     <div class="cover-div"> <div class="fill-div"></div></div>
   </div>

   <!-- FINAL INNER MAIN DIVS -->
    <div class="inner-main-div">
      
        <div class="top">
          <div class="top-1-div">
            <h3 class="top-1-div-h3">Verify Insurance ID</h3>
            <p class="top-1-div-p">You can verify insurance number on
              this web portal. Kindly <br> <div class="centered">enter the ID below to verify</div> 
            </p>

            <input class="input-class">

            <botton class="verify">Verify</botton>
          </div>


          <div class="top-2-div">
            <div class="Bio">
              <h3 class="bio-header">BIO</h3>
              <h3 class="email">Email: johnson3@gmail.com</h3>
              <h3 class="phone">Phone: 08000000000</h3>
              <h3 class="Age">Age: 26Yrs</h3>
            </div>

            <div class="Insurance">
              <h3 class="insurance-header">Insurance</h3>
              <h3 class="Coverage">Total Coverage: N120, 000</h3>
              <h3 class="Claims">Total Claims: N50, 000</h3>
              <h3 class="Status">Current Status: Active</h3>
            </div>
          </div>

        </div>

        <div class="bottom">

          <div class="bottom-1-div">Coverage History</div>

          <div class="bottom-2-div">
            <h2 class="hash">#</h2>
            <h2 class="name">Name</h2>
            <h2 class="Trip">Trip</h2>
            <h2 class="Date">Date</h2>
            <h2 class="Amount">Amount</h2>
          </div>


          <div class="bottom-3-div">
            <img src="../../assets/Vector_1.png" alt="check" class="check">
            <h2 class="Name-p">John Snow</h2>
            <h2 class="Trip-p">From Lagos to Uyo</h2>
            <h2 class="Date-p">(7 Aug 2020)</h2>
            <h2 class="Naira-p">N120</h2>
          </div>

          <div class="bottom-3-div">
            <img src="../../assets/Vector_1.png" alt="check" class="check">
            <h2 class="Name-p">John Snow</h2>
            <h2 class="Trip-p">From Lagos to Uyo</h2>
            <h2 class="Date-p">(7 Aug 2020)</h2>
            <h2 class="Naira-p">N120</h2>
          </div>


        </div>
      
    </div>

  </div>

</div>