
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 HTML FORM FOR SETTING NEW ROUTE
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<div class="grandfather-div">
    <newrouteset class="relative-div"/>

<div class="bottom">

    <div class="bottom-1-div">
        Set New Route 
        <!--<span class="pup">(Osinachi Motors)</span>-->
    </div>

    <div class="main-set-div">

        <div class="left-div">

            <input placeholder="From" type="text" class="title-name red">
            <input placeholder="To" type="text" class="title-email">
            <input placeholder="Amount" type="text" class="title-phone">
            <!--<input Placeholder="Address I" type="text" class="title-address">
            <input Placeholder="Address II" type="text" class="title-address">-->
            
        </div>

        <div class="right-div">

            <div class="right-div-top-for-settings">
                 <select class="title-city mg-top-div">
                        <options>Inter-State Trip</options>
                        <options>Local Trip</options>
                 </select>

                 <!--<select placeholder="State" type="text" class="title-state">-->
                 

                 </select>
            </div>
            <!--<textarea placeholder="Medical History" class="medical-history title-state"></textarea>-->
              
            <!--<div class="right-div-bottom1">
                <button class="update-profile">Update Profile</button>
                <button class="change-password">Change Password</button>
           </div>-->
            

           <div class="right-div-bottom2">
              <h3 class="config"> Create Route</h3>
            </div>
           
        </div>
        
    </div>

</div>

</div>
